#header {
  height: 50px;
  background-color: #10284e;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color: #10284e;
}

div.nreadcrumbs {
  background-color: #30caa0;
  color: #10284e;
}

div.nreadcrumbs a {
  color: #333;
}

.module h2,
.module caption,
.inline-group h2 {
  background-color: #30caa0;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background-color: #10284e;
  color: #fff;
}
